{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>

        <li><a href="/admin">admin</a></li>
        <li>Create users

        </li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Create New Admin Users
      </h1>



        Emails: <textarea rows=10 cols=80 id="user_name"></textarea><br/>
        <button onClick="createAccounts()">Create Accounts</button>
        <div id="response">Enter a new line delimited list of email addresses to create new admin user accounts in CRM and IDM.</div>
    </div>
  </div>
</main>
<script>
function createAccounts(){
  data=document.getElementById('user_name').value.split("\n")

  var xhr = new XMLHttpRequest();
  xhr.open("POST", '/admin/createAdminUser', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onreadystatechange = function() {
    if (xhr.readyState == XMLHttpRequest.DONE) {
      res=JSON.parse(xhr.responseText)
      data=res.idmUsers
      var text=`<br><b>Results</b><pre>IDM:
      ${JSON.stringify(res.idm)}

      CRM:
      ${JSON.stringify(res.crm)}
      </pre>
      <table><tr><th>Login</th><th>Reset GUID</th></tr>`;
        console.log(data)
      for (u in data){
        console.log(u)
        text+=`<tr><td>${data[u].user_name}</td><td>${data[u].reset_guid}</td></tr>`
      }
      text+='</table>';
      document.getElementById('response').innerHTML=(text);
    }
}
  xhr.send(JSON.stringify({
      user_name: data
  }));
};
</script>

{{> footerjs}}
