{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        <li><a href="/admin">admin</a></li>
        <li><a href="/admin/generic/{{endpoint}}">{{endpoint}}</a></li>
        <li><a href="/admin/generic/{{endpoint}}/{{obj}}">{{obj}}</a></li>
        <li>{{id}}</li>

      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        {{title}}
      </h1>

<a href="{{posturl}}&new=true">Duplicate This</a>
<hr>
<form method="post" action="{{patchurl}}">
<table>

  {{#each data}}

<tr>

  <td valign="top">
    {{name}}
  </td>
  <td valign="top">
    {{#if isKey}}
      {{value}}
    {{else}}
      {{#if textarea}}
      <textarea rows=5 cols=100 name="{{name}}">{{value}}</textarea>
      {{else}}
      <input type="text" size=100 name="{{name}}" value="{{value}}">
      {{/if}}
    {{/if}}
  </td>
  </tr>
{{/each}}

{{#if editable}}
<tr><td></td><td><input type="submit" value="Update"></td></tr>
{{else}}
<tr><td></td><td>Cannot edit complex object</td></tr>
{{/if}}
</table>
</form>

    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
