{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        
        <li><a href="/admin">admin</a></li>
        <li><a href="/admin/idm">IDM</a></li>
        <li><a href="/admin/idm/users">users</a></li>

      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Permit Repository Admin
      </h1>
      <h1 class="heading-large">
      View Users
      </h1>
      <h1 class="heading-medium">
      Users
    </h1> The following users are available.


      <br>
      <table>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Application</th>
          <th>Reset GUID</th>
          <th>Reset Required</th>
          <th>Bad Login Count</th>
          <th>External ID</th>
        </tr>
        {{#each users}}
        <tr>
          <td><a href="/admin/idm/users/{{user_id}}">{{user_id}}</a></td>
          <td>{{user_name}}</td>
          <td>{{application}}</td>
          <td>{{reset_guid}}</td>
          <td>{{reset_required}}</td>
          <td>{{bad_logins}}</td>
          <td>{{external_id}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</main>
{{> footerjs}} {{> debug}}
