{{> styles}}
<main id="content">
  {{>element-phase-tag}}
  <nav>
    <div class="breadcrumbs">
      <ol>
        
        <li><a href="/admin">admin</a></li>
        <li>Permit Repo</li>
      </ol>
    </div>
  </nav>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        Permit Repository Admin / Water Resources
      </h1>


      <ul class="list list-bullet">
        {{>element-li-link uri='/admin/water/scheduler' title='Scheduler'}}
        {{>element-li-link uri='/admin/nald/import' title='Refresh Nald from S3'}}
      </ul>
    </div>
  </div>
</main>
{{> footerjs}}
{{> debug}}
